<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
           
        <%= image_tag @user.avatar.url %>
        <%= image_tag @headshot_photo_patch %>
        
        <%= @auth  %>
         <h1><%= @avatar_path %></h1>
          <h1><%= @l %></h1>
    </section>
  </aside>
</div>